In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv(r'C:\Users\etsen\OneDrive - JACTO\Síntegra Digital Health\Data Science\DadosExternos\ans\operadoras\municipios_brasil.csv')
df

      Unnamed: 0 SG_UF  CD_MUNICIPIO     NM_MUNICIPIO
0              0    SP        351830        Guararema
1              1    SP        352020          Igaratá
2              2    SP        352440          Jacareí
3              3    SP        354600     Santa Branca
4              4    SP        354680     Santa Isabel
...          ...   ...           ...              ...
5565        5565    AP        160053     Porto Grande
5566        5566    AP        160055         Pracuúba
5567        5567    AP        160060          Santana
5568        5568    AP        160070  Tartarugalzinho
5569        5569    AP        160080  Vitória do Jari

[5570 rows x 4 columns]

In [ ]:
colunas = ['ID_DETALHE_AREA_GEOGRAFICA', 'NM_REGIAO']
df  = df.drop(columns=colunas)
df

In [ ]:
df  = df.drop_duplicates(subset=['CD_MUNICIPIO'])

df = df.reset_index(drop=True)
df

     SG_UF  CD_MUNICIPIO     NM_MUNICIPIO
0       SP        351830        Guararema
1       SP        352020          Igaratá
2       SP        352440          Jacareí
3       SP        354600     Santa Branca
4       SP        354680     Santa Isabel
...    ...           ...              ...
5565    AP        160053     Porto Grande
5566    AP        160055         Pracuúba
5567    AP        160060          Santana
5568    AP        160070  Tartarugalzinho
5569    AP        160080  Vitória do Jari

[5570 rows x 3 columns]

In [25]:
df.to_csv(r'C:\Users\etsen\OneDrive - JACTO\Síntegra Digital Health\Data Science\DadosExternos\ans\operadoras\municipios_brasil.csv', sep=';', index=False)